@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
a { text-decoration: none; }
ul { list-style: none; }
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    height: 100%;
    overflow-x:hidden;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* Header */
#Header {
    overflow: hidden;
    width: 100%;    height: 50px;
    border-bottom: 1px solid #EAE7E7;
    /*background-color: red;*/
}
    .header-nav {
        overflow: hidden;
        width: 80%;    height: 50px;
        margin: 0 auto;
    }
        .header-nav .header-logo {
        display: block;
        float: left;
        width: 200px;    height: 40px;
        margin-top: .4rem;
        background: url(../images/main/logo.jpg) no-repeat center;
        background-size: contain;
        }
        .header-nav ul {
            display: block;
            width: 100%;
            margin-left: 2rem;
        }
            .header-nav ul li {
                display: inline-block;
                margin: 1rem 0 0 2rem;
                font-size: 16px;
            }

/* Article */
#Article {
    width: 100%;    height: 0 auto;
    background-color: red;
}
    .swiper-container {
        overflow: hidden;
        width: 100%;    height: 600px;
    }
        .swiper-container .swiper-slide {
            width: 80%;     height: 600px;
            margin-top: 5rem;
            background-color: blue;
        }
            .swiper-slide .slide-1-1 a {
                display: block;
                width: 74%;     height:400px;
                margin-left: 8rem;
                text-align: center;
            }
            .slide-1-1, .slide-1-2, .slide-1-3 {
                display: block;
                overflow: hidden;
                width: 80%;   height: 400px;
                margin-left: 7rem;
                background: url(../images/main/img-ready.png) no-repeat;
                background-size: contain;
                background-position: center center;
            }
            .slide-write {
                width: 60%;     height: 200px;
                margin: 1rem auto 0 auto;
                text-align: center;
            }

    .at-product {
        overflow: hidden;
        width: 100%;    height: 0 auto;
        padding: 2rem;
        background-color: grey;
    }
        .prod-sq {
            margin: 0 3rem 2rem 0;
            width: calc(100%/3.5);     height: 240px;
            border: 1px solid #EAE7E7;
        }
        .prod-1 {
            float: left;
            background-color: #88BAC0;
        }
        .prod-2 {
            float: left;
            background-color:#9F7070;
        }
        .prod-3 {
            float: left;
            background-color:#E8B560;
        }
        .prod-4 {
            float: left;
            background-color:yellow;
        }
        .prod-5 {
            float: left;
            background-color:#D851BB;
        }




